.box  {
    width: 100px;
    height: 150px;
    font-size: 40px;
    font-family:  Tahoma, serif;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    border-left: 1px dotted #D0D0FF;
    background-color: #eeeff2;
    float: left;
    box-shadow: 10px 10px lightblue;
}
.A  {
    background-image: linear-gradient(to bottom right, green, blue);
}
.F  {
    margin-top: 300px;
    margin-left: 120px;
}
